
<div class="row">
  <div class="large-12 columns">
  <h1>Weather</h1>
  <h2><%= @retrieved_data.elements["yweather:location"].attributes['city'] %></h2>
   </div>
  </div>
<div class="row">
  <div class="large-6 columns">
<h3>Current weather conditions</h3>
<p><%= @retrieved_data.elements["item/yweather:condition"].attributes['text'] %></p>
<p>Temperature: <%= @retrieved_data.elements["item/yweather:condition"].attributes['temp'] %>
  *<%= @retrieved_data.elements["yweather:units"].attributes['temperature'] %></p>
<p>Wind: <%= @retrieved_data.elements["yweather:wind"].attributes['speed'] %>
  <%= @retrieved_data.elements["yweather:units"].attributes['speed'] %>
  <%= wind_direction(@retrieved_data.elements["yweather:wind"].attributes['direction']) %></p>
</div>
  <div class="large-6 columns">
<h3>Weather forecast</h3>
<table>
  <tr>
    <th></th>
    <th>Low</th>
    <th>High</th>
    <th></th>
  </tr>
<% @retrieved_data.each_element('//yweather:forecast') do |element|  %>
    <tr>
      <td><%= element.attributes["day"] %>, <%= element.attributes["date"] %></td>
      <td><%= element.attributes["low"] %>*C</td>
      <td><%= element.attributes["high"] %>*C</td>
      <td><%= element.attributes["text"] %></td>
    </tr>
<% end %>
</table>
</div>
</div>